{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
{% for entry in lists %}
<hr>
<!---->

    <div style="width: 100%; display: table; background-color:#ffe6ff;">
        <div style="display: table-row; padding-top: 20px;">

            <div style="width: 350px; display: table-cell;">
                <!--brings me to listings page with Listing ID#-->
                <a href="{% url 'listings:index'%}{{ entry.id }}">
                   <img style="margin-left:  30px;" src="{{ entry.url }}"
                        alt="image could not load" width="300" height="200"></a>
            </div>

                <div style="display: table-cell; padding-top: 20px;padding-left: 80px;">
                    <p><b>{{ entry.title }}</b></p>
                    <p><b>Price: ${{ entry.bid | floatformat:2}}</b></p>
                    <p>{{ entry.description }}</p>
                    <p class="text-muted">{{ entry.createDateTime }}</p>
                </div>
        </div>
    </div>

{% empty %}
    <strong>NO LISTINGS</strong>

{% endfor %}
<div hidden>
    {% block notifCount %}
        {{ watchedItems }}
    {% endblock %}
</div>
{% endblock %}