{% extends 'auctions/layout.html' %}

{% block title %}
{{ cat }}
{% endblock %}

{% block body %}

    {% for entry in listings %}

        <hr>
        <table style="background-color:#ffe6ff; width: 100%;">
            <tr>
                <td>
                    <a href="{% url 'listings:index'%}{{ entry.id }}">
                    <img style="margin-left:  30px; margin-left:  30px; width: 300px; height:200px;"
                         src="{{ entry.url }}"
                         alt="image could not load"></a>
                </td>
                <td>
                    <p style="margin-right: 150px;"><b>{{ entry.title }}</b></p><br>
                    <p><b>Price: ${{ entry.bid | floatformat:2 }}</b></p><br>
                    <p>{{ entry.description }}</p>
                </td>
            </tr>
        </table>
    {% empty %}
        <strong>NO LISTINGS</strong>

    {% endfor %}
<br>
    <div hidden>
        {% block notifCount %}
            {{ watchedItemsCounter }}
        {% endblock %}
    </div>
{% endblock %}